<<<<<<< HEAD
@use "./../utils/" as *;
=======
@use "./../utils" as *;
>>>>>>> 52196c2e83881c20fdbc004408768f07765872cc

.appHeader {
  background: yellow;
  padding: rem(16px) rem(20px);

  @include mobile {
<<<<<<< HEAD
    @include flexbox(column);
    background: $dark-brown;
    color: $white;
=======
    background: $dark-brown;
    color: $white;

    @include flexbox(column);
>>>>>>> 52196c2e83881c20fdbc004408768f07765872cc
  }

  @include desktop {
    position: relative;
  }
}

// 로고
.logo {
  width: rem(204px);
  height: rem(60px);
  &__link {
    display: block;
    height: 100%;
<<<<<<< HEAD
    background: url(/assets/images/webcafe-logo.png) no-repeat;
=======
    background: url(/assets/images/webcafe-logo.png);
>>>>>>> 52196c2e83881c20fdbc004408768f07765872cc
  }

  @include desktop {
    position: absolute;
  }
}

<<<<<<< HEAD
//멤버 서비스
.memberOnly {
  @include flexbox(row, flex-end, center);
=======
// 멤버 서비스
.memberOnly {
  background: green;
  @include flexbox($justify: flex-end);
>>>>>>> 52196c2e83881c20fdbc004408768f07765872cc

  @include mobile {
    order: -1;
  }
}

<<<<<<< HEAD
// 검색폼

.searchForm {
  &__group {
    text-align: right;
=======
// 검색 폼
.searchForm {
  &__group {
    text-align: right;
    background: blue;
>>>>>>> 52196c2e83881c20fdbc004408768f07765872cc
  }
}
